@import "./index.css";

@layer components {
  .App {
    @apply flex flex-col gap-2 pb-2 lg:gap-4 px-2 md:px-4 lg:px-12 lg:pb-12 w-screen h-screen;

    .disclaimer {
      @apply flex justify-center pt-0 text-xs scale-75 md:scale-90 lg:scale-100 opacity-40;
    }
  }

  .ChatArea {
    @apply flex-grow bg-slate-800 rounded overflow-y-scroll overflow-x-hidden
    flex flex-col gap-2 border-4 border-slate-800 p-0 md:p-2;
  }

  .ChatPrompt {
    @apply flex-shrink;

    form {
      @apply flex items-center py-1 gap-2 w-full;
    }

    .question {
      @apply flex-grow;
      input[type="text"] {
        @apply bg-slate-800 px-2 py-3 md:px-4 md:py-6 rounded-md text-slate-100 text-lg w-full
        outline-none border-none;
      }
    }

    .btn {
      @apply flex-shrink;
      button {
        @apply flex-shrink px-3 py-2 md:p-6 bg-blue-600 rounded
        transition-all duration-200 hover:bg-blue-700 border border-transparent;

        &:disabled {
          @apply saturate-50 bg-transparent border border-blue-600 text-blue-600;
        }
      }
    }
  }
}

.ChatBox {
  animation-name: fade_in;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
}

@keyframes fade_in {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
